In [6]:
import pandas as pd

df = pd.read_csv("../DATA/RAW/cafe_sales_dirty.csv")

In [7]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [8]:
df.replace(["ERROR", "UNKNOWN", ""], pd.NA, inplace=True)

In [9]:
df.duplicated().sum()
df = df.drop_duplicates()

In [10]:
df.columns

Index(['transaction_id', 'item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date'],
      dtype='object')

In [11]:
df["transaction_date"] = pd.to_datetime(
    df["transaction_date"],
    errors="coerce"
)

df["quantity"] = pd.to_numeric(df["quantity"], errors="coerce")
df["price_per_unit"] = pd.to_numeric(df["price_per_unit"], errors="coerce")
df["total_spent"] = pd.to_numeric(df["total_spent"], errors="coerce")

In [12]:
df["quantity"] = df["quantity"].fillna(df["quantity"].median())
df["price_per_unit"] = df["price_per_unit"].fillna(df["price_per_unit"].median())
df["item"] = df["item"].fillna("unknown")
df["payment_method"] = df["payment_method"].fillna("unknown")

In [13]:
df["item"] = df["item"].str.lower().str.strip()
df["location"] = df["location"].str.lower().str.strip()

In [14]:
df["total_spent_calculated"] = df["quantity"] * df["price_per_unit"]

In [15]:
df.isnull().sum()
df.describe()

,quantity,price_per_unit,total_spent,transaction_date,total_spent_calculated
count,10000.000000,10000.00000,9498.000000,9540,10000.000000
mean,3.027100,2.95265,8.924352,2023-07-01 23:00:31.698113280,8.948150
min,1.000000,1.00000,1.000000,2023-01-01 00:00:00,1.000000
25%,2.000000,2.00000,4.000000,2023-04-01 00:00:00,4.000000
50%,3.000000,3.00000,8.000000,2023-07-02 00:00:00,8.000000
75%,4.000000,4.00000,12.000000,2023-10-02 00:00:00,12.000000
max,5.000000,5.00000,25.000000,2023-12-31 00:00:00,25.000000
std,1.384614,1.24396,6.009919,NaN,5.831191

In [17]:
df.columns

Index(['transaction_id', 'item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date',
       'total_spent_calculated'],
      dtype='object')

In [16]:
df.to_csv("../DATA/PROCESSED/cafe_sales_clean.csv", index=False)